# this .gitignore is for yak hugo branch

# git worktree add -B gh-pages public origin/gh-pages
public

# git worktree add -B content content origin/content
content


# git submodule init
# git submodule sync
# git submodule update

# go get -v github.com/gohugoio/hugo
# go related ignore files
#
bin
vendor
